POSTGRES_USER=EXAMPLE_USER
POSTGRES_PASSWORD=EXAMPLE_PASSWORD
POSTGRES_DB=barbearia_db
spring.security.oauth2.client.registration.google.client-id=COLE_O_SEU_CLIENT_ID_AQUI
spring.security.oauth2.client.registration.google.client-secret=COLE_O_SEU_CLIENT_SECRET_AQUI
spring.security.oauth2.client.registration.google.scope=profile,email
API_PORT=8080